@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
* {
  margin: 0;
  padding: 0;
}

body{
  background-color: #2c2c2c;
}

.nav-list a {
  color: #000000;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}
.login-button a {
  text-decoration: none;
  color: white;
}

.logoLumen img{
  margin-left: 20px;
  height: 95px;
  width: 115px;
}
header{
  margin-bottom: 20px;
  position: fixed;
  z-index: 2;
  width: 100%;
  color: #F6C937;
  transition: 1.2s ease;
}

header.scrolled{
  background-color: #F6C937;
  padding: 1px 0.5% 1% 0%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family:  'Passion One', cursive;
  font-size: 30px;
  background: #F6C937;
  height: 18vh;
}
.login-button {
  margin-right: 20px;
}

.login-button button {
  border-radius: 15px;
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 28px;
  font-family: 'Passion One', cursive;
  font-size: 25px;
  transition: 0.3s ;
}

.login-button:hover{
  opacity: 0.7s;
}
.nav-list {
  z-index: 1;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
  z-index: 2;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 95vh;
    background: #000000;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
/*-------------------- Kit bomba -----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
*{
  margin: 0;
  padding: 0;
}
main{
  height: 40vh;
}

.container-flex{
  z-index: 99999999; /* Z-index menor que a janela modal */
  max-height: 10px;
}

.bomba{
  height: 840px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.bomb2{
    flex-direction: column;
}

.bomba img{
    background-color: white;
    margin-top: 250px;
}
.bomba h1{
    width: 100%;
    height: 13%;
    margin-top: 50px;
    margin-left: 90px;
    font-family: 'Passion One';
    font-size: 70px;
    color: #ffda5f;

}

.bomba .h2bomb {
    color: #fff;
    margin-top: 245px;
    font-family: 'Passion One';
    font-size: 40px;
    margin-left: 90px;

}

.bomb2 p{
    font-family: 'Passion One';
    font-size: 26px;
    display: flex;
    color: #fff;
    margin-left: 90px;
}
.parcel-button {
  display: flex;
  align-items: center;
  padding-top: 100px;
  padding-left: 73px;
  border: none;
  background-color: #2c2c2c;
  font-family: 'Passion One';
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}


.parcel-button .text {
  margin-right: 10px;
}

.parcel-button i {
  font-size: 18px;
}
.buy-button a{
  color: black;
  text-decoration: none;
}

.buy-button button {
  background-color: #F6C937;
  color: #fff;
  border: none;
  text-transform: none;
  border-radius: 20px;
  margin-top: 105px;
  margin-left: 88px;
  height: 90px;
  width: 280px;
  line-height: 70px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Passion One';
  transition: transform 0.5s;
}

.buy-button button:hover {
  transform: scale(1.1);
  background-color: #ffffff;
  color: rgb(0, 0, 0);
 height: 100px;
 width: 300px
}

/*-tabela que aparece-*/

.janela-modal {
  border: 2px solid #000000;
  background-color: white;
  border-radius: 4px;
  position: relative;
  width: 70vw;
  height: 500px;
  margin: 240px auto;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 9997;
}
.janela-modal.abrir{
  display: flex;

}
.opcoes-de-parcelamento ul{
  gap: 200px;

}
.modal {
  min-width:450px;
  height: 500px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(1px) ;
  color: rgb(0, 0, 0);
}
.mm {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 50px;
  background-color: #ffda5f;
  padding-left: 20px;
  padding-right: 20px;
}

.boox p {
  color: rgb(71, 71, 71);
  font-size: 20px;
  margin-bottom: 20px;
}

.boox ul {
  border: solid 2px #7a7a7a;
  list-style-type: none;
  padding: 20px;
}

.boox li {
  margin-bottom: 10px;
}

.boox span {
  font-weight: bold;
}
.boox {
  padding: 20px;
}
.mm h2{
  padding-top: 10px;
  
}
.fechar{
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #000000;
}

@keyframes abrirmodal{
  from{
    opacity: 0;
    transform: translate(0,-20px, -5px);
  }
  to{
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

.abrir .modal{
  animation: abrirmodal 0.5s;
}
.container-flex.blur {
  backdrop-filter: blur(1px);
}








/*------------- RODAPE -------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

:root {
    --color-neutral-0: #000000;
    --color-neutral-10: #F6C937;
    --color-neutral-30: #000000;
    --color-neutral-40: #ffffff;

}

* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}


footer {
  font-family: 'Inter', sans-serif;
  width: 100%;
  color: var(--color-neutral-40);
  margin-top: 700px;
}
.Mozo{
    margin-left: 15px;
    height: 100px;
    width: 115px;
}
span {
    margin-left: 16px;
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
} 

#footer_contacts p{
    align-items: center;
    margin-top: 10px;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.25rem;    
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #0b3382;
}

#whatsapp {
    background-color: #25d366;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: var(--color-neutral-30);
    transition: all 0.4s;
}

.footer-list .footer-link:hover {
    color: #7f37c9;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p {
    color: var(--color-neutral-30);
}

#input_group {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button {
    background-color: #7f37c9;
    border: none;
    color: var(--color-neutral-40);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}
    
